# {{ title }}

{{ title }} is hosted by {{ host }} and plays .

## Description

{{ description }}

## Tracklist

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Song</th>
      <th>Image</th>
      <th>Country</th>
      <th>Label</th>
      <th>Songwriters</th>
    </tr>
  </thead>
  <tbody>
  {% for item in items %}
    <tr>
      <td>{{ item.track }}</td>
      <td><p><a href="{{ item.artist_link }}">{{ item.artist }}</a> – "<a href="{{ item.song_link }}">{{ item.song }}</a>"</p></td>
      <td><a href="{{ item.cover_link }}"><img src="{{ item.cover }}"></a></td>
      <td>{{ item.country }}</td>
      <td>{{ item.label }}</td>
      <td>{{ item.songwriters }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
